/* задание глобальных переменных */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --invert-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-main: #ffffff;
  --background-section: #f5f4fa;
  --background: #2f303a;
  --bg-work-btn: #f5f4fa;
  --border-prt: #eeeeee;
}

/* глобальные настройки */
a {
  /* убирает подчеркивание ссылок */
  text-decoration: none;
  color: var(--secondary-text-color);
}

li {
  /* Убираем маркеры */
  list-style-type: none;
}

/* скрытие элементов - не подходит для семантики */
.hidden {
  display: none;
}

/* глобальный border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
li,
ul,
p {
  padding: 0 0;
  margin: 0 0;
}

/* для проверки отступов от элементов */
.test {
  outline: 2px solid tomato;
  background-color: green;
}

/* главная страница */
body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* хедер */
.page-header {
  background-color: var(--background-main);
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}

.flex {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

/* лого */
.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
  display: block;
  margin-right: 93px;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo > span {
  color: var(--accent-color);
}

/* нав. меню */
.main-nav {
  display: flex;
}

.main-nav .item {
  outline: 1px solid tomato;
}

.main-nav .item:not(last-child) {
  margin-right: 50px;
}

/* Еще один способ убрать крайний отступ
.main-nav .item + .item {
  margin-left: 50px;
} */

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* цвет наведение на меню  */
.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--accent-color);
}

/* цвет меню текущей страницы */
.main-nav .link.current {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  margin-left: auto;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact li + li {
  margin-left: 50px;
}

.header-contact a:hover {
  color: var(--accent-color);
}

/* секция hero */
.hero {
  background-color: var(--secondary-text-color);
  min-height: 600px;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--invert-text-color);
  padding-top: 200px;
  margin-bottom: 30px;
}

.main-btn {
  display: inline-block;
  min-width: 200xp;
  height: 50px;
  padding: 10px 32px;
  margin-bottom: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--invert-text-color);
  background: var(--accent-color);

  font-size: 16px;
  line-height: 1,87;
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* секция features */
.features {
  margin-top: 94px;
}

.features h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-list .item {
  width: 270px;
}
.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin: 0;
}

/* секция employment */
.employment {
  margin: 94px 0;
}

.em-pic {
  margin-top: 50px;
}

/* исправляет сбоку/снизу белые полосы у картинки */
.em-pic img {
  display: block;
}

/* секция team */
.team {
  padding: 94px 0;
  background-color: var(--background-section);
}

.team h2 {
  margin-bottom: 50px;
}

.border-photo {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  padding-bottom: 30px;
}

/* секция footer */
footer {
  background: var(--background);
  padding: 60px 0;
}

.logo-footer {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: var(--invert-text-color);
  display: inline-block;
  margin-bottom: 20px;
}

.logo-footer span {
  color: var(--accent-color);
}

footer address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--invert-text-color);
}

footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

footer a:hover {
  color: var(--accent-color);
}

/* Страница примеры работ */
.filter-r {
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  width: 616px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}

.work-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: var(--bg-work-btn);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: 1px solid transparent;
  margin-left: 8px;
}

.work-btn:hover {
  color: var(--invert-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work-prts {
  margin-top: 50px;
  margin-bottom: 94px;
}

.pr-t {
  width: 370px;
  background: var(--background-main);
  border: 1px solid var(--border-prt);
  box-sizing: border-box;
}

.work-prts h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  display: inline-block;
  margin: 20px 24px 0 24px;
}

.work-prts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
}
